body {
  /*  background-image: url("../media/Porto.jpg");
  background-size: auto 100%;*/
  background-color: rgba(193, 117, 50, 0.3);
}
h4 {
  font-size: 18px;
  text-align: center;
}

ul {
  width: 100%;
  max-width: 580px;
}
li {
  /*position: relative;*/
  display: inline-block;
  color: rgb(56, 108, 143);
  text-decoration: underline;
  padding: 0 5px;
}
li.nearest-city {
  text-decoration: none;
  color: rgb(132, 131, 131);
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  background-image: url("../media/Porto.jpg");
  background-position: center;
  background-size: 600px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(56, 108, 143, 0.5);
  opacity: 0.7;
  width: 600px;
  z-index: -1;
  max-height: 530px;
}

.today {
  position: fixed;
  background-color: rgba(168, 201, 216, 0.75);
  width: 110px;
  position: relative;
  /* right: 10px;*/
  left: 250px;
  top: -28px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}
.current-city {
  max-height: 220px;
  margin-left: 10px;
  width: 63%;
}

.container-total {
  display: block;
  margin: 0 auto;
  width: 600px;
}

#search-button {
  background-color: rgb(56, 108, 143);
  border: 1px solid rgb(56, 108, 143);
}

#current-button {
  background-color: rgb(193, 117, 50);
  border: 1px solid rgb(193, 117, 50);
  margin-right: 10px;
}

.another-city {
  display: inline-block;
  width: 100%;
}
.g-6 {
  text-align: center;
  margin: 10px 10px 5px 10px;
}
.current-city,
.forecast-unit,
.advice,
.for-something {
  border: 1px solid darkgray;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.weather-forecast {
  width: 95%;
  margin: -195px auto auto;
  padding: auto 0;
  text-align: center;
}

/*.col {
  width: 18%;
  margin: auto 2px;
}*/

.future-date {
  color: black;
  opacity: 0.6;
  font-size: 16px;
}
/*.current-icon {
  font-size: 100px;
  color: rgb(56, 108, 143);
  position: relative;
  left: 35%;
  top: -100px;
}*/
.future-temperature {
  font-size: 14px;
}
.future-temperature-min {
  opacity: 0.6;
}
.temperature-city {
  /*left: 0;
  top: 10px;
  
  right: 0;*/
  padding-top: 30px;
  text-align: center;
  font-size: 48px;
}
.today-temperature {
  position: relative;
  left: -35px;
  top: -110px;
}
#celcius-link,
#fahrenheit-link {
  position: relative;
  /*top: -10px;*/

  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
}
#change-degrees {
  font-size: 60px;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
  cursor: default;
}

.sky-capitalize:first-letter {
  text-transform: capitalize;
}

.temp-unit {
  position: relative;
  top: -30px;
  /*font-size: 12px;*/
  font-size: 1.3rem;
  font-weight: 600;
}
.advice,
.for-something {
  position: relative;
  left: 67%;
  top: -220px;
  width: 30%;
}

h1#current-city {
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: underline;
  font-size: 25px;
}
.for-something {
  margin-top: 15px;
  height: 90px;
  padding: 10px 10px;
  width: 30%;
}

.forecast-icon {
  color: rgb(56, 108, 143);
  display: block;
  margin: 0 auto;
  /*margin-left: 30%;*/
}
/*.conditions-city {
  margin-top: -80px;
  margin-left: 10px;

  padding-bottom: 40px;
}*/
.link-github {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  margin-top: 50px;
}
